<html>

<head>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>

    <% for (i=0; i<listTypes.length; i++){%>
        <a href="/index/<%=listTypes[i].name%>"><%=listTypes[i].name%></a><%
    };%>


    Add a List Type

    <form action=/listTypes method="POST">
        <input type="text" name="name">
        <button>
            Submit!
        </button>
    </form>


</body>


</html>