<html>

<head>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>
    THIS IS A TEST

    <form action=/testButton method="POST">
        <input type="text" name="input">
        <button>
            TEST BUTTON CLICKY CLICK
        </button>
    </form>
</body>


</html>